<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dam.projects.projectdam">

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Access Accounts Permissions -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!--Receive when boot is completed -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/photo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".gui.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.friends.FriendsActivity"
            android:label="@string/title_activity_friends"
            android:parentActivityName=".gui.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dam.projects.projectdam.gui.MenuActivity" />
        </activity>
        <activity android:name=".gui.friends.ListFriendsActivity" />
        <activity android:name=".gui.friends.ListInvitationsActivity" />
        <activity
            android:name=".gui.events.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:parentActivityName=".gui.events.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.events.EventsActivity" />
        </activity>
        <activity
            android:name=".gui.LoginActivity"
            android:background="#1fd2f2"
            android:label="@string/title_activity_login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".gui.MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dam.projects.projectdam.gui.MenuActivity" />
        </activity>
        <activity
            android:name=".gui.events.PropertiesEventActivity"
            android:label="@string/title_activity_properties_event"
            android:parentActivityName=".gui.events.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.events.EventsActivity" />
            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>

        <activity
            android:name=".gui.events.PropertiesEventAdminActivity"
            android:label="@string/title_activity_properties_event_admin"
            android:parentActivityName=".gui.events.EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.events.EventsActivity" />

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity>

        <service android:name=".network.MyService">
            <intent-filter>
                <action android:name="your.package.MyService" />
            </intent-filter>
        </service>

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>